{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat({% if section.settings.desktop_media_layout == 'grid_one' %}1{% else %}2{% endif %}, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

    {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
        grid-column: span 1;
      }
    {%- endif -%}
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
  }
</style>

{%- capture product_form_id -%}product-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}

<div {% render 'section-properties', tight: true %}>
  <product-rerender id="product-info-{{ product.id }}-{{ section.id }}" observe-form="{{ product_form_id }}" allow-partial-rerender>
    <div class="product">
      {%- if product.media.size > 0 -%}
        {%- render 'product-gallery', product: product, product_form_id: product_form_id -%}
      {%- endif -%}

      {%- render 'product-info', 
        product: product, 
        update_url: true,
        product_form_id: product_form_id,
        context: 'main_product'
      -%}
    </div>
  </product-rerender>
</div>

{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if section.settings.show_fixed_add_to_cart and product.available and buy_buttons_block != blank -%}
  <product-rerender id="{{ product_form_id }}-sticky-bar" observe-form="{{ product_form_id }}">
    {%- if product.selected_or_first_available_variant.available -%}
      <product-quick-add form="{{ product_form_id }}" class="product-quick-add">
        {%- assign button_label = 'product.general.add_to_cart_button' | t -%}

        <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" class="sm:hidden">
          {%- render 'button', type: 'submit', content: button_label, form: product_form_id, background: buy_buttons_block.settings.atc_button_background, text_color: buy_buttons_block.settings.atc_button_text_color, secondary: true, stretch: true, size: 'lg' -%}
        </buy-buttons>

        {%- assign image = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

        <div class="product-quick-add__variant {% if image == blank %}no-image{% endif %} hidden sm:grid">
          {%- if image != blank -%}
            <variant-media widths="80,160" form="{{ product_form_id }}">
              {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '80px', widths: '80,160', class: 'rounded-xs' -}}
            </variant-media>
          {%- endif -%}

          <div class="v-stack gap-0.5">
            {%- assign vendor_block = section.blocks | where: 'type', 'vendor' -%}

            {%- if vendor_block != blank -%}
              {%- render 'vendor' with product.vendor, class: 'text-xs' -%}
            {%- endif -%}

            <a href="{{ product.url }}" class="bold truncate-text">{{ product.title }}</a>
            {%- render 'price-list', product: product, variant: product.selected_or_first_available_variant, form_id: product_form_id -%}
          </div>

          <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" force-secondary-button>
            {%- render 'button', type: 'submit', content: button_label, form: product_form_id, background: buy_buttons_block.settings.atc_button_background, text_color: buy_buttons_block.settings.atc_button_text_color, secondary: true -%}
          </buy-buttons>
        </div>
      </product-quick-add>
    {%- endif -%}
  </product-rerender>
{%- endif -%}

{%- comment -%}
IMPLEMENTATION NOTE: Shopify does not currently allows to render a given section within the context of a given product. However,
when rendering the quick buy popovers, we want to be able to re-use the merchant's choices (such as the selector type). This
is however only possible by rendering the whole product page, and extracting the relevant part. Here, we therefore render the
quick buy information in a template, that will be extracted in JS, but ensure it is not visible in the main product page
{%- endcomment -%}

{%- render 'product-quick-buy', product: product -%}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {"value": "h1","label": "X-Large"},
            {"value": "h2","label": "Large"},
            {"value": "h3","label": "Medium"},
            {"value": "h4","label": "Small"},
            {"value": "h5","label": "X-Small"},
            {"value": "h6","label": "XX-Small"}
          ],
          "default": "h2"
        }
      ]
    },
    {"type": "sku","name": "SKU","limit": 1},
    {
      "type": "badges",
      "name": "Badges",
      "limit": 1,
      "settings": [
        {"type": "paragraph","content": "Use metafields to add custom badges. [Learn more](https://support.maestrooo.com/article/75-collection-displaying-custom-label)"}
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {"type": "checkbox","id": "show_taxes_notice","label": "Show taxes notice","default": false}
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment installments",
      "limit": 1,
      "settings": [
        {"type": "paragraph","content": "To display payment installments, your store needs to support Shop Pay Installments. [Learn more](https://help.shopify.com/en/manual/payments/shop-pay-installments)"}
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {"type": "paragraph","content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/categories/store-design-social-proof-product-reviews)"},
        {"type": "checkbox","id": "show_empty","label": "Show if no reviews","default": false}
      ]
    },
    {"type": "separator","name": "Separator"},
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {"type": "select","id": "icon","label": "Icon","options": [{"value": "none","label": "None"}],"default": "none"},
        {"type": "image_picker","id": "custom_icon","label": "Custom icon","info": "96 x 96px .png or .svg recommended. Only used when content is collapsed."},
        {"type": "range","id": "icon_width","min": 16,"max": 48,"step": 2,"unit": "px","label": "Icon width","default": 20},
        {"type": "checkbox","id": "collapse_content","label": "Collapse content","default": false}
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {"type": "checkbox","id": "hide_sold_out_variants","label": "Hide sold out variants","default": false},
        {"type": "checkbox","id": "stack_blocks","label": "Stack options on mobile","default": true},
        {"type": "select","id": "selector_style","label": "Selector style","options": [{"value": "block","label": "Block"},{"value": "dropdown","label": "Dropdown"}],"default": "block"},
        {"type": "select","id": "swatch_selector_style","label": "Swatch selector style","options": [{"value": "swatch","label": "Swatch"},{"value": "block_swatch","label": "Block with swatch"},{"value": "none","label": "None"}],"default": "swatch"},
        {"type": "text","id": "variant_image_options","label": "Show variant image for options"},
        {"type": "page","id": "size_chart_page","label": "Size chart page"}
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {"type": "paragraph","content": "The selector is automatically hidden if all variants are sold out."}
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {"type": "range","id": "low_inventory_threshold","label": "Low inventory threshold","min": 0,"max": 100,"step": 1,"default": 0}
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {"type": "checkbox","id": "show_payment_button","label": "Show dynamic checkout button","default": true},
        {"type": "checkbox","id": "show_gift_card_recipient","label": "Show recipient information form for gift cards","default": true},
        {"type": "color","id": "atc_button_background","label": "Add to cart background"},
        {"type": "color","id": "atc_button_text_color","label": "Add to cart color"},
        {"type": "color","id": "payment_button_background","label": "Buy now button background"},
        {"type": "color","id": "payment_button_text_color","label": "Buy now button color"}
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {"type": "paragraph","content": "Allow your customers to see availability in retail stores by [setting up local pickup](https://help.shopify.com/en/manual/sell-in-person/shopify-pos/order-management/local-pickup-for-online-orders)."}
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {"type": "richtext","id": "text","label": "Text","default": "<p>Share some content to your customers about your products.</p>"}
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {"type": "select","id": "icon","label": "Icon","options": [{"value": "none","label": "None"}],"default": "none"},
        {"type": "image_picker","id": "custom_icon","label": "Custom icon"},
        {"type": "range","id": "icon_width","min": 16,"max": 48,"step": 2,"unit": "px","label": "Icon width","default": 20},
        {"type": "text","id": "title","label": "Title","default": "Title"},
        {"type": "richtext","id": "content","label": "Content","default": "<p>Share some content to your customers about your products.</p>"},
        {"type": "page","id": "page","label": "Page"}
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {"type": "url","id": "link","label": "Link"},
        {"type": "text","id": "text","label": "Text","default": "Button"},
        {"type": "select","id": "size","label": "Size","options": [{"value": "sm","label": "Small"},{"value": "base","label": "Medium"},{"value": "lg","label": "Large"},{"value": "xl","label": "X-Large"}],"default": "xl"},
        {"type": "select","id": "style","label": "Style","options": [{"value": "outline","label": "Outline"},{"value": "fill","label": "Fill"}],"default": "fill"},
        {"type": "checkbox","id": "stretch","label": "Stretch","default": true},
        {"type": "color","id": "background","label": "Background"},
        {"type": "color","id": "text_color","label": "Text"}
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {"type": "liquid","id": "liquid","label": "Liquid"}
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "settings": [
        {"type": "select","id": "text_alignment","label": "Text alignment","options": [{"value": "start","label": "Left"},{"value": "center","label": "Center"}],"default": "start"},
        {"type": "select","id": "icon","label": "Icon","options": [{"value": "none","label": "None"},{"value": "picto-coupon","label": "Coupon"}],"default": "picto-coupon"},
        {"type": "image_picker","id": "custom_icon","label": "Custom icon"},
        {"type": "range","id": "icon_width","min": 20,"max": 100,"step": 4,"unit": "px","label": "Icon width","default": 20},
        {"type": "text","id": "title","label": "Heading","default": "Shipping"},
        {"type": "richtext","id": "content","label": "Content","default": "<p>Short content about your shipping rates or discounts.</p>"},
        {"type": "color","id": "background","label": "Background","default": "#eaf2ed"},
        {"type": "color","id": "text_color","label": "Text","default": "#00a341"}
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "settings": [
        {"type": "select","id": "alignment","label": "Alignment","options": [{"value": "start","label": "Left"},{"value": "center","label": "Center"},{"value": "end","label": "Right"}],"default": "start"}
      ]
    }
  ],
  "settings": [
    {"type": "checkbox","id": "full_width","label": "Full width","default": true},
    {"type": "checkbox","id": "show_fixed_add_to_cart","label": "Show add to cart on scroll","default": true},
    {"type": "header","content": "Media"},
    {"type": "range","id": "desktop_media_width","label": "Desktop media size","min": 35,"max": 65,"step": 5,"unit": "%","default": 55},
    {"type": "select","id": "desktop_media_layout","label": "Desktop media layout","options": [{"value": "grid_one","label": "Grid (1x1)"},{"value": "grid","label": "Grid (2x2)"},{"value": "grid_highlight","label": "Grid (2x2) with highlighted media"},{"value": "carousel_thumbnails_left","label": "Thumbnails left (carousel)"},{"value": "carousel_thumbnails_bottom","label": "Thumbnails bottom (carousel)"}],"default": "carousel_thumbnails_left"},
    {"type": "select","id": "mobile_media_size","label": "Mobile media size","options": [{"value": "expanded","label": "Expanded"},{"value": "contained","label": "Contained"}],"default": "expanded"},
    {"type": "select","id": "mobile_carousel_control","label": "Mobile carousel control","options": [{"value": "dots","label": "Dots"},{"value": "floating_dots","label": "Floating dots"},{"value": "thumbnails","label": "Thumbnails"},{"value": "free_scroll","label": "Free scroll"}],"default": "floating_dots"},
    {"type": "checkbox","id": "enable_video_autoplay","label": "Enable video autoplay","default": false},
    {"type": "checkbox","id": "enable_video_looping","label": "Enable video looping","default": true},
    {"type": "header","content": "Image zoom"},
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable",
      "default": false
    },
    {"type": "range","id": "max_image_zoom_level","min": 1,"max": 4,"step": 0.5,"label": "Max zoom level","default": 3},
    {"type": "header","content": "Colors"},
    {"type": "color","id": "background","label": "Background"},
    {"type": "color_background","id": "background_gradient","label": "Background gradient"},
    {"type": "color","id": "text_color","label": "Text"},
    {"type": "header","content": "Input colors"},
    {"type": "color","id": "input_background","label": "Background","default": "rgba(0,0,0,0)"},
    {"type": "color","id": "input_text_color","label": "Text"}
  ]
}
{% endschema %}